{% extends 'admin/change_list.html' %}
{% block object-tools %}
    <div>
        {% if not status %}
            <form action="authenticate/" method="POST">
                {% csrf_token %}
                <button type="submit" class=button>Sign In with Google</button>
            </form>    
        {% else %}
            <form action="logout/" method="POST">
                {% csrf_token %}
                <button type="submit" class=button>Log out</button>
            </form>
        {% endif %}    
    </div>
    <br />
    {{ block.super }}
{% endblock %}