.page-header {
    background-color:#293462;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button1 {
    background-color: white;
    color: black;
    border: 3px solid black;
    font-size: 30px;
}

.button1:hover {
    background-color: darkblue;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 0.5px solid #4CAF50;
    height: 50px;
    font-size: 15px;
}

.button2:hover {
    background-color: #4CAF50;
    color: white;
}

p {
    font-size: 60px;
    margin-top: 0px;
}
